<html>
<head>
<title>Input an address</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
	<div class="container mt-5">
		<form [formGroup]="queryForm" (ngSubmit)="onSubmit()" novalidate>
			<div class="form-group">
				Address line 1: <input type="text" class="form-control" id="adr1"
					formControlName="adr1" name="adr1">
			</div>
			
			<div *ngIf="!adr1?.valid && (adr1?.dirty ||adr1?.touched)">
				<div [hidden]="!adr1!.errors?.required">
					Address line 1 is required
				</div>
			</div>
			
			<div class="form-group">
				Address line 2: <input type="text" class="form-control" id="adr2"
					formControlName="adr2" name="adr2">
			</div>
			
			<div class="form-group">
				City: <input type="text" class="form-control" id="city"
					formControlName="city" name="city">
			</div>
			
			<div *ngIf="!city?.valid && (city?.dirty || city?.touched)">
				<div [hidden]="!city!.errors?.required">
					City is required
				</div>
			</div>
			
			<div class="form-group">
				State: <input type="text" class="form-control" id="state"
					formControlName="state" name="state">
			</div>
			<div *ngIf="!state?.valid && (state?.dirty || state?.touched)">
				<div [hidden]="!state!.errors?.required">
					State is required
				</div>
				<div [hidden]="!queryForm.controls['state'].hasError('maxlength')">
					State initials only i.e Illinois is IL
				</div>
			</div>
			
			<div class="form-group">
				Zip: <input type="text" class="form-control" id="zip"
					formControlName="zip" name="zip">
			</div>
			
			<div *ngIf="!zip?.valid && (zip?.dirty || zip?.touched)">
				<div [hidden]="!zip!.errors?.required">
					Zip is required
				</div>
				<div [hidden]="!queryForm.controls['zip'].hasError('maxlength')">
					Zip must be in format XXXXX
				</div>
			</div>
			
			<div class="form-group">
				<button [disabled]="!queryForm.valid" class="btn btn-primary">Submit</button>
			</div>
			<div>
				<div *ngIf=res>Your plus zip is: {{res}}</div>
				<div *ngIf=err>{{err}}</div>
			</div>
	
	
		</form>
	</div>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>